<html>
<head>
    <link href="/css/app.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
    <title>Cursos Sebrae</title>
</head>
<body>
  <div class="container">

	<nav class="navbar navbar-default">
	  <div class="container-fluid">

    <form action="#">
      <button type="submit"><i class="fa fa-search"></i></button>	
      <input type="text" placeholder="Pesquisar" name="search">
    </form>

	  </div>
	</nav>

    @yield('conteudo')

	<footer class="footer">
	    <p>Magno Nogueira de Assis</p>
	</footer>
    
  </div>
</body>
</html>